<main class="main_forget_password">
  <img
    src="images/undraw_forgot-password_odai.svg"
    alt="forget-img"
    class="img"
  />
  <div class="form-container">
    <header class="form-container__header">
      <img src="images/sci-logo.png" alt="ASU science logo" class="logo" />
      <h2 class="secondary-heading">Graduation Projects System</h2>
    </header>
    <form
      class="main-forgetPassword"
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
    >
      <h1>Forget Password</h1>
      <div class="email">
        <label> Enter your Email</label>
        <input
          type="email"
          required
          placeholder="example@gmail.com"
          class="email-input"
          id="input-email"
          formControlName="email"
        />
      </div>
      <span class="forget-error">
        {{ error() }}
      </span>
      <button type="submit" class="bttn" id="linkBtn">Send Reset link</button>
    </form>
  </div>
</main>
