:host {
  padding: 1rem;
  overflow-x: hidden;
  width: 100%;
  display: block;
}
.project-name {
  font-size: 1.6rem;
  padding-left: 1rem;
}
.teams-applying {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  overflow-x: auto;
  padding: 1rem 0;
}
.teams-applying > li {
  border-radius: 20px;
  background-color: var(--form-container-color);
  padding: 1.2rem;
  box-shadow: var(--shadow-light);
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

@media (max-width: 768px) {
  .teams-applying > li {
    width: 100%;
  }
}
