<div class="container-admin">
  <div class="links">
    <a routerLink="/home/admin-dashboard/send-instructions"
      >Send instructions</a
    >
    <a routerLink="/home/admin-dashboard/create-dr-account">Create account</a>
    <a routerLink="/home/admin-dashboard/create-schedule">Create schedule</a>
    <a routerLink="/home/admin-dashboard/pending-projects-from-dr"
      >Pending projects From Doctors</a
    >
    <a routerLink="/home/admin-dashboard/pending-projects-from-teams"
      >Pending projects From Students</a
    >
    <a routerLink="/home/admin-dashboard/add-criteria">Add criteria</a>
    <a routerLink="/home/admin-dashboard/configure-criteria"
      >Configure criteria</a
    >
    <a routerLink="/home/admin-dashboard/create-academic-year"
      >Create academic year</a
    >
    <a routerLink="/home/admin-dashboard/set-active-year">Set active year</a>
    <a routerLink="/home/admin-dashboard/grades-report">Get grades report</a>
  </div>

  <div class="main-view">
    <router-outlet></router-outlet>
  </div>
</div>
