<div class="Main_container_resetPassword">
  <div class="image">
    <img
      src="images/undraw_authentication_tbfc.svg"
      alt="Reset your password"
    />
  </div>
  <div class="main_container_form">
    <header class="form-container__header">
      <img
        src="images/asuScienceLogo.png"
        alt="ASU science logo"
        class="logo"
      />
      <h2 class="secondary-heading">Graduation Projects System</h2>
    </header>
    <form
      class="main-form-resetPassword"
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
    >
      <h1 class="main-heading">Reset Password</h1>
      <div class="new-password">
        <label>Enter new password </label>
        <input
          type="password"
          placeholder="Enter your new password here "
          class="newPass"
          id="input-newPassword"
          formControlName="password"
        />
      </div>
      <div class="confirm-password">
        <label>Confirm your password </label>
        <input
          type="password"
          placeholder="Confirm your new password here "
          id="input-confirmPassword"
          formControlName="confirmPassword"
        />
      </div>
      <span class="error">
        {{ error() }}
      </span>
      <button class="bttn" id="resetBtn" type="submit">Reset Password</button>
    </form>
  </div>
</div>
